h1{
    font-size: 5em;
}
p{
    font-size: 2rem;
}

@media screen and (max-width: 900px){
    h1{
        font-size: 3rem;
    }
}
@media screen and (max-width: 400px){
    img{
        display: block;
    }
}