body{
        background-color: blueviolet;
    }
p{
        color:rgb(112, 136, 240);
        font-size: 30px;
        font-style: italic;
    }
h1{
        background-color: orange;
        color: navy;
        font-size: 60px;
    }
/*penggunaan external css dapat diterapkan 
kebeberapa file html sekaligus*/